[workspace]
resolver = "2"
members = [
    "crates/sentic-agent",
    "crates/sentic-ebpf",
    "crates/sentic-common",
    "crates/xtask",
]

[workspace.package]
edition = "2024"
version = "0.1.0"
authors = ["Suraj <kevalabs>"]
